.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: red;
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8 !important;
  margin-top: 15px !important;
}
